html, body {
  font-family: sans-serif;
  font-size: 19px;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-color: #fdfcfb;
}

div.wrapper {
  height: auto;
  min-height: 100%;
  margin: 0;
  display: block;
}

span.blog-tag {
  margin: 3px;
  background-color: #d6d6d6;
  padding: 2px;
  color: black;
  border-width: 1px 1px 1px 5px;
  border-color: black;
  border-style: solid;
  display: inline-block;
  padding-left: 5px;
}

span.blog-tag a, span.blog-tag a:hover {
  color: black;
  -moz-text-decoration-line: none;
  text-decoration-line: none;
}

img {
  max-width: 100%;
}

aside.sidebar a {
  color: #eae0d5;
}

aside.sidebar a:hover {
  color: #eae0d5;
}

article.content-wrapper {
  width: 35em;
  padding: 3.5em;
}

article.content-wrapper a {
  color: #22333b;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
}

article.content-wrapper a:hover {
  color: #22333b;
  -moz-text-decoration-line: none;
  text-decoration-line: none;
}

article.content-wrapper {
  background-color: #fdfcfb;
  height: auto;
  color: #000;
}

div.searchContainer a {
  color: darkslategrey;
}

aside.sidebar {
  background-color: #131c21;
  color: #c6ac8f;
  padding: 10px;
  height: auto;
}

div.blog-card-title a {
  font-size: 22px;
  font-weight: bold;
}

p.blog-card-text {
  margin-top: 0;
  font-size: 17px;
}

article.content-wrapper {
  font-size: 19px;
  line-height: 1.4;
  padding: 20px;
}

blockquote {
  font-size: 120%;
  font-style: italic;
  border-left-color: darkgrey;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 1em;
}

@media screen and (max-width:1023px) {
  div.wrapper {
    max-width: 100%;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
  }
  article.content-wrapper {
    max-width: 100%;
    padding: 3px;
  }
}

@media screen and (min-width:1024px) and (max-width:1600px) {
  div.wrapper {
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    max-width: 1600px;
  }
  aside.sidebar {
    max-width: 300px;
    width: 300px;
  }
  article.content-wrapper {
    -moz-flex-grow: 4;
    -ms-flex-grow: 4;
    -o-flex-grow: 4;
    -webkit-flex-grow: 4;
    flex-grow: 4;
    max-width: 1000px;
  }
}

@media screen and (min-width:1600px) {
  div.wrapper {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -moz-align-content: center;
    -ms-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
    align-content: center;
  }
  article.content-wrapper {
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    -o-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }
  aside.sidebar {
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    -o-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    width: 300px;
    max-width: 300px;
  }
  article.content-wrapper {
    -moz-flex-grow: 4;
    -ms-flex-grow: 4;
    -o-flex-grow: 4;
    -webkit-flex-grow: 4;
    flex-grow: 4;
    max-width: 1000px;
  }
}

